{% extends 'default.html.twig' %}

{% block title %}Créer une franchise{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/default.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/_flash.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/franchise_form.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <main>
        {% include "_partials/_flash.html.twig" %}
        <div class="title-wrapper">
            <h1 class="main-title">Ajouter une <span>franchise</span></h1>
        </div>
        <section class="text-fields">
            {{ form_start(form) }}
            <div class="form-field">
                <div class="form-label">
                    {{ form_label(form.user_id, null, {
                        label: 'Utilisateur associé'
                    }) }}
                </div>
                <div class="form-input">
                    {{ form_widget(form.user_id) }}
                </div>
            </div>
            <div class="form-field">
                <div class="form-label">
                    {{ form_label(form.client_name, null, {
                        label: 'Nom de la franchise'
                    }) }}
                </div>
                <div class="form-input">
                    {{ form_widget(form.client_name) }}
                </div>
            </div>
            <div class="form-field">
                <div class="form-label">
                    {{ form_label(form.client_address, null, {
                        label: 'Adresse de la franchise'
                    }) }}
                </div>
                <div class="form-input">
                    {{ form_widget(form.client_address) }}
                </div>
            </div>
            <div class="form-field">
                <div class="form-label">
                    {{ form_label(form.url, null, {
                        label: 'Url de la franchise'
                    }) }}
                </div>
                <div class="form-input">
                    {{ form_widget(form.url) }}
                </div>
                {% if form_errors(form.url) %}
                <div class="form-error row-error">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 64 64"><path fill="#ff5a79" d="M62 52c0 5.5-4.5 10-10 10H12C6.5 62 2 57.5 2 52V12C2 6.5 6.5 2 12 2h40c5.5 0 10 4.5 10 10v40z"/>
                        <path fill="#fff" d="M50 21.2L42.8 14L32 24.8L21.2 14L14 21.2L24.8 32L14 42.8l7.2 7.2L32 39.2L42.8 50l7.2-7.2L39.2 32z"/>
                    </svg>
                    {{ form_errors(form.url) }}
                </div>
                {% endif %}
            </div>
            <div class="form-field">
                <div class="form-label">
                    {{ form_label(form.technical_contact, null, {
                        label: 'Email du technicien'
                    }) }}
                </div>
                <div class="form-input">
                    {{ form_widget(form.technical_contact) }}
                </div>
            </div>
            <div class="form-field">
                <div class="form-label">
                    {{ form_label(form.commercial_contact, null, {
                        label: 'Email du commercial'
                    }) }}
                </div>
                <div class="form-input">
                    {{ form_widget(form.commercial_contact) }}
                </div>
            </div>
            <div class="form-field">
                <div class="form-label">
                    {{ form_label(form.short_description, null, {
                        label: 'Description courte'
                    }) }}
                </div>
                <div class="form-input">
                    {{ form_widget(form.short_description) }}
                </div>
            </div>
            <div class="form-field">
                <div class="form-label">
                    {{ form_label(form.full_description, null, {
                        label: 'Description longue',
                    }) }}
                </div>
                <div class="form-input">
                    {{ form_widget(form.full_description, {'attr': {
                        'class' : 'message'
                    }}) }}
                </div>
            </div>
            <div class="form-field">
                <div class="form-label">
                    {{ form_label(form.logo_url, null, {
                        label: 'Logo de la franchise'
                    }) }}
                </div>
                <div class="form-input">
                    {{ form_widget(form.logo_url) }}
                </div>
            </div>
            <div class="form-field">
                <div class="form-label">
                    {{ form_label(form.is_active, null, {
                        label: 'Active/Non Active'
                    }) }}
                </div>
                <div class="form-input slider-block">
                    <label class="switch">
                        {{ form_widget(form.is_active, {'attr': {'class': 'isActive'}}) }}
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <section>
                <h2>Permissions</h2>
                <div class="form-field form-permissions">
                    <div class="form-label">
                        {{ form_label(form.sell_drink, null, {
                            label: 'Vente de boisson'
                        }) }}
                    </div>
                    <div class="form-input slider-block">
                        <label class="switch">
                            {{ form_widget(form.sell_drink, {'attr': {'class': 'isActive'}}) }}
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="form-field form-permissions">
                    <div class="form-label">
                        {{ form_label(form.manage_schedule, null, {
                            label: 'Gestion du planning'
                        }) }}
                    </div>
                    <div class="form-input slider-block">
                        <label class="switch">
                            {{ form_widget(form.manage_schedule, {'attr': {'class': 'isActive'}}) }}
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="form-field form-permissions">
                    <div class="form-label">
                        {{ form_label(form.create_newsletter, null, {
                            label: 'Création de Newsletter'
                        }) }}
                    </div>
                    <div class="form-input slider-block">
                        <label class="switch">
                            {{ form_widget(form.create_newsletter, {'attr': {'class': 'isActive'}}) }}
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="form-field form-permissions">
                    <div class="form-label">
                        {{ form_label(form.add_promotion, null, {
                            label: 'Créer une promotion'
                        }) }}
                    </div>
                    <div class="form-input slider-block">
                        <label class="switch">
                            {{ form_widget(form.add_promotion, {'attr': {'class': 'isActive'}}) }}
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="form-field form-permissions">
                    <div class="form-label">
                        {{ form_label(form.create_event, null, {
                            label: 'Créer un évenement'
                        }) }}
                    </div>
                    <div class="form-input slider-block">
                        <label class="switch">
                            {{ form_widget(form.create_event, {'attr': {'class': 'isActive'}}) }}
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="form-field form-permissions">
                    <div class="form-label">
                        {{ form_label(form.sell_food, null, {
                            label: 'Vendre de la nouriture'
                        }) }}
                    </div>
                    <div class="form-input slider-block">
                        <label class="switch">
                            {{ form_widget(form.sell_food, {'attr': {'class': 'isActive'}}) }}
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </section>

            <div class="button-wrapper">
                <button class="form-button" type="submit">
                    Créer
                </button>
            </div>
            {{ form_end(form) }}
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/burgerMenu.js') }}"></script>
    <script src="{{ asset('js/_flash.js') }}"></script>
{% endblock %}