{% extends 'default.html.twig' %}

{% block title %}Créer une franchise{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/default.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/franchise_form.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/_flash.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <main>
        {% include "_partials/_flash.html.twig" %}
        <h1 class="main-title">Ajouter une structure</h1>
        <section>
            {{ form_start(form) }}
            <div class="form-field">
                <div class="form-label">
                    {{ form_label(form.structure_name, null, {
                        label: 'Nom de la structure'
                    }) }}
                </div>
                <div class="form-input">
                    {{ form_widget(form.structure_name)}}
                </div>
            </div>
            <div class="form-field">
                <div class="form-label">
                    {{ form_label(form.structure_address, null, {
                        label: 'Adresse de la structure'
                    }) }}
                </div>
                <div class="form-input">
                    {{ form_widget(form.structure_address)}}
                </div>
            </div>
            <div class="form-field">
                <div class="form-label">
                    {{ form_label(form.url, null, {
                        label: 'Url de la franchise'
                    }) }}
                </div>
                <div class="form-input">
                    {{ form_widget(form.url)}}
                </div>
            </div>
            <div class="form-field">
                <div class="form-label">
                    {{ form_label(form.manager_name, null, {
                        label: 'Nom du manager'
                    }) }}
                </div>
                <div class="form-input">
                    {{ form_widget(form.manager_name)}}
                </div>
            </div>
            <div class="form-field">
                <div class="form-label">
                    {{ form_label(form.user_id, null, {
                        label: 'Adresse email du manager'
                    }) }}
                </div>
                <div class="form-input">
                    {{ form_widget(form.user_id)}}
                </div>
            </div>
            <div class="form-field">
                <div class="form-label">
                    {{ form_label(form.logo_url, null, {
                        label: 'Logo de la structure'
                    }) }}
                </div>
                <div class="form-input">
                    {{ form_widget(form.logo_url)}}
                </div>
            </div>
            <div class="form-field">
                <div class="form-label">
                    {{ form_label(form.is_active, null, {
                        label: 'Active/Non Active'
                    }) }}
                </div>
                <div class="form-input slider-block">
                    <label class="switch">
                        {{ form_widget(form.is_active, {'attr': {'class': 'isActive'}})}}
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="button-wrapper">
                <button class="form-button" type="submit">
                    Créer
                </button>
            </div>
            {{ form_end(form) }}
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/burgerMenu.js') }}"></script>
    <script src="{{ asset('js/_flash.js') }}"></script>
{% endblock %}