{% extends 'default.html.twig' %}

{% block title %}Créer une franchise{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/default.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/franchise_form.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<main>
    <div class="main-title">
        <svg xmlns="http://www.w3.org/2000/svg" width="7em" height="7em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024">
            <path fill="#c4dfaa" d="M678.3 642.4c24.2-13 51.9-20.4 81.4-20.4h.1c3 0 4.4-3.6 2.2-5.6a371.67 371.67 0 0 0-103.7-65.8c-.4-.2-.8-.3-1.2-.5C719.2 505 759.6 431.7 759.6 349c0-137-110.8-248-247.5-248S264.7 212 264.7 349c0 82.7 40.4 156 102.6 201.1c-.4.2-.8.3-1.2.5c-44.7 18.9-84.8 46-119.3 80.6a373.42 373.42 0 0 0-80.4 119.5A373.6 373.6 0 0 0 137 888.8a8 8 0 0 0 8 8.2h59.9c4.3 0 7.9-3.5 8-7.8c2-77.2 32.9-149.5 87.6-204.3C357 628.2 432.2 597 512.2 597c56.7 0 111.1 15.7 158 45.1a8.1 8.1 0 0 0 8.1.3zM512.2 521c-45.8 0-88.9-17.9-121.4-50.4A171.2 171.2 0 0 1 340.5 349c0-45.9 17.9-89.1 50.3-121.6S466.3 177 512.2 177s88.9 17.9 121.4 50.4A171.2 171.2 0 0 1 683.9 349c0 45.9-17.9 89.1-50.3 121.6C601.1 503.1 558 521 512.2 521zM880 759h-84v-84c0-4.4-3.6-8-8-8h-56c-4.4 0-8 3.6-8 8v84h-84c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h84v84c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8v-84h84c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8z"/>
        </svg>
        <h1>Créer un utilisateur</h1>
    </div>
    <section>
        {{ form_start(form) }}
        <div class="form-field">
            <div class="form-label">
                {{ form_label(form.email, null, {
                    label: 'Adresse email'
                }) }}
            </div>
            <div class="form-input">
                {{ form_widget(form.email) }}
            </div>
        </div>
        {% if form_errors(form.email) %}
            <div class="form-error">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 64 64"><path fill="#ff5a79" d="M62 52c0 5.5-4.5 10-10 10H12C6.5 62 2 57.5 2 52V12C2 6.5 6.5 2 12 2h40c5.5 0 10 4.5 10 10v40z"/>
                    <path fill="#fff" d="M50 21.2L42.8 14L32 24.8L21.2 14L14 21.2L24.8 32L14 42.8l7.2 7.2L32 39.2L42.8 50l7.2-7.2L39.2 32z"/>
                </svg>
                {{ form_errors(form.email) }}
            </div>
        {% endif %}
        <div class="form-field">
            <div class="form-label">
                {{ form_label(form.password, null, {
                    label: 'Mot de passe'
                }) }}
            </div>
            <div class="form-input">
                {{ form_widget(form.password) }}
            </div>
        </div>
        {% if form_errors(form.password) %}
            <div class="form-error">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 64 64"><path fill="#ff5a79" d="M62 52c0 5.5-4.5 10-10 10H12C6.5 62 2 57.5 2 52V12C2 6.5 6.5 2 12 2h40c5.5 0 10 4.5 10 10v40z"/>
                    <path fill="#fff" d="M50 21.2L42.8 14L32 24.8L21.2 14L14 21.2L24.8 32L14 42.8l7.2 7.2L32 39.2L42.8 50l7.2-7.2L39.2 32z"/>
                </svg>
                {{ form_errors(form.password) }}
                <div class="password-errors">
                    <p>Au moins une majuscule</p>
                    <p>Des chiffres</p>
                    <p>Au moins un symbole spécial (?, !, @...)</p>
                </div>
            </div>
        {% endif %}
        <div class="form-field">
            <div class="form-label">
                {{ form_label(form.roles, null, {
                    label: 'Rôles'
                }) }}
            </div>
            <div class="form-input">
                {{ form_widget(form.roles) }}
            </div>
        </div>
        <div class="button-wrapper">
            <button class="form-button" type="submit">
                Créer
            </button>
        </div>
        {{ form_end(form) }}
    </section>
</main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/burgerMenu.js') }}"></script>
{% endblock %}