{% extends 'default.html.twig'%}

{% block title %}Gestion des franchises{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/default.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/staff.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/_card.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/_modal.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/_flash.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    {% include "_partials/_flash.html.twig" %}

    <div id="filter-wrapper">
        {% include 'filters/filters.html.twig' %}
    </div>
    <div class="main-title">
        <h1>Les Franchises</h1>
        <a href="/staff/create_franchise">
            <svg xmlns="http://www.w3.org/2000/svg" width="5em" height="5em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path fill="#c4dfaa" d="M16 4c6.6 0 12 5.4 12 12s-5.4 12-12 12S4 22.6 4 16S9.4 4 16 4m0-2C8.3 2 2 8.3 2 16s6.3 14 14 14s14-6.3 14-14S23.7 2 16 2z"/>
                <path fill="#c4dfaa" d="M24 15h-7V8h-2v7H8v2h7v7h2v-7h7z"/>
            </svg>
        </a>
    </div>
    <h2>
        {% if isFirstConnexion %}
            <h2>Première connexion bravo !</h2>
        {% endif %}
    </h2>
    <div id="content">
        {% include 'franchise/_card.html.twig'%}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/burgerMenu.js') }}"></script>
    <script src="{{ asset('js/_flash.js') }}"></script>
    <script src="{{ asset('js/radioButtonFilter.js') }}"></script>
    <script src="{{ asset('js/searchBarFilter.js') }}"></script>
    <script src="{{ asset('js/modalTrigger.js') }}"></script>
    <script src="{{ asset('js/onLoad.js') }}"></script>
{% endblock %}

